**Analisis Statistik Deskriptif Sederhana Menggunakan Python**

**Kelompok 3**
1. Paundra Pujo Darmawan    - 5027241008
2. Ahmad Idza Anafin        - 5027241017
3. M. Fatihul Qolbi A.      - 5027241023
4. Nafis Faqih Allmuzaky M. - 5027241095

In [3]:
import pandas as pd

df = pd.read_excel('Dataset.xlsx')

df.head()

   Tanggal  Curah Hujan (mm)  Penjualan A (pcs)  Penjualan B (pcs)
0        1               1.4                  0                507
1        2               1.2                 27                 61
2        3              15.2                458                367
3        4              13.4                 20                 21
4        5               7.7                  7                  0